/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
.wrapper {
  width: 100%;
  height: auto;
}
.square {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
  font-size:13px;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style: none;
}
/* FINE REGOLE GENERALI */

/* REGOLE HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #000;
}
/* FINE REGOLE HEADER */

/* REGOLE MAIN */
main {
  width: 100%;
  height: 100%;
  background-color: gray;
  color: #fff;
}
.logo h1,
.searchWrapper p {
  color: red;
  padding: 10px 0;
}
.searchWrapper,
.messageWrapper {
  padding: 0 20px;
}
.moviesWrapper {
  text-align: center;
  padding: 0 20px;
}
.moviesWrapper h2 {
  padding: 20px 0;
}
.moviesWrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.moviesWrapper ul li {
  flex-basis: 342px;
  height: 500px;
  margin: 5px;
  cursor: pointer;
}
.moviesWrapper .moviesList span {
  display: block;
}
.info {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}
.square:hover .info {
  display: block;
}

/* FINE REGOLE MAIN */
